* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 2vh 10vh;
  background-color: red
}

header {
  height: 18vh;
  background-color: yellow;
}

main {
  background-color: black;
  height: 60vh;
}

footer {
  height: 18vh;
  background-color: lightblue;
}

.container {
  margin: 10px;
  display: inline-block;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  height: 100%;
  width: 40%;
  background-color: violet;
}

aside {
    height: 100%;
    width: 25%;
}

.left , .right {
  height: 40%;
  width: 90%;
  background-color: pink;
}

.left {
  float: left;
}

.right {
  margin: 10px;
  float: right;
}
