* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 2vh 10vh;
  background-color: red
}

header {
  height: 18vh;
  background-color: yellow;
}

main {
  background-color: black;
  height: 60vh;
}

footer {
  height: 18vh;
  background-color: lightblue;
}
